.footer-container {


  .section-one {
    height: 450px;


    .contact-section {
      background: #fafaf9;
      color: #000000;
      padding-left: 3%;

      @media screen and (max-width: 600px) {
        img{
          width: 50px;
        }
      }


      .text {
        font-family: "Georgia";
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }

      .text-one {
        font-family: 'Altone';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        color: #000000;

        @media screen and (max-width: 600px) {
          font-size: 9px;
        }
      }

      .text-two {
        font-family: 'Altone';
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        color: #000000;


        @media screen and (max-width: 600px) {
          font-size: 13px;
        }
      }
    }

    .email-section {
      background: #9d1d21;
      color: #ffffff;
      padding-left: 3%;

      @media screen and (max-width: 600px) {
        img{
          width: 50px;
        }
      }


      .text {
        font-family: "Georgia";
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;

        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }

      .text-one {
        font-family: 'Altone';
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;

        @media screen and (max-width: 600px) {
          font-size: 9px;
        }
      }

      .text-two {
        font-family: 'Altone';
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        color: #ffffff;

        @media screen and (max-width: 600px) {
          font-size: 13px;
        }
      }
    }
  }

  .section-two {
    padding: 5% 10%;


    .news-footer{
      @media screen and (max-width: 600px) {
        padding-bottom: 5%;
      }
    }

    .heading {
      font-family: "Georgia";
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      color: #bd2328;

      @media screen and (max-width: 600px) {
        font-size: 15px;
      }
    }

    .sub-heading {
      font-family: "Altone";
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      color: #000000;
      @media screen and (max-width: 600px) {
        font-size: 10px;
      }

    }

    .text-one {
      font-family: "Altone";
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      color: #000000;

      @media screen and (max-width: 600px) {
        font-size: 13px;
      }
    }

    .sub-section {
      padding-top: 10%;


      input {
        width: 100%;
        background: #fafaf9;
        border: none;
        height: 40px;
        padding: 3px 5px;

        @media screen and (max-width: 600px) {
          height: 30px;
        }
      }

      .btn-sub {
        background: #bd2328;

        font-family: "Georgia";
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  .section-three{
    background: #bd2328;
    color: #ffffff;
    padding: 10px 8%;

    @media screen and (max-width: 600px) {
      padding: 10px;
    }


    .links-section{

  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    font-size: 10px;
  }
    }

    .logo{
      font-family: 'PinyonScript';
      color: #ffffff;
      font-size: 40px;

      @media screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
}
