<div class="footer-container">
  <div class="section-one" fxLayout="row" fxLayout.xs="column-reverse">
    <div fxFlex="50">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.659907044753!2d-0.18893742470300945!3d5.617133894363836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b001156668f%3A0xa5923b22fced62ce!2sLe%20Tandem%20French%20Restaurant%20%26%20Boutique%20Hotel!5e0!3m2!1sen!2sgh!4v1724431987703!5m2!1sen!2sgh"    style="width: 100%; height: 100%;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div fxFlex="50">
      <div fxFlex="50" class="contact-section" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10%">
        <img src="assets/images/call.svg" width="70">

        <div>
          <span class="text">Contact Us</span>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">

          <span class="text-one">To Reserve Call:</span>
          <span class="text-two"><a href="tel:233302762959">+233 30 276 2959</a></span>
        </div>
      </div>
      <div fxFlex="50" class="email-section" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10%">
        <img src="assets/images/mail.svg" width="70">

        <div>
          <span class="text">Email Us</span>
        </div>

        <div fxLayout="column" fxLayoutGap="10px">

          <span class="text-one">For More Information:</span>
          <span class="text-two">
            <span class="text-two"><a href="mailto:letandemacc@outlook.com"> {{'letandemacc@outlook.com' }}</a></span>

          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="section-two" fxLayout="row" fxLayout.xs="column-reverse">

    <div fxFlex="60">
      <div fxFlex="50" fxLayout="column">
        <span class="heading">Phone Support</span>
        <span class="sub-heading">24 Hours</span>

        <div class="sub-section">
          <span class="text-one"><a href="tel:233302762959">+233 30 276 2959</a></span>
        </div>
      </div>

      <div fxFlex="50" fxLayout="column" >
        <span class="heading">Connect With Us</span>
        <span class="sub-heading">social media channels</span>

        <div class="sub-section" fxLayout="row" fxLayoutGap="10px">
          <span class="sub-heading"><i class="fa-brands fa-instagram fa-xl"></i></span>
          <span class="sub-heading"> <i class="fa-brands fa-x-twitter fa-xl"></i></span>
          <span class="sub-heading"><i class="fa-brands fa-facebook-f fa-xl"></i></span>
        </div>
      </div>
    </div>



    <div fxFlex="40" fxLayout="column" class="news-footer">
      <span class="heading">Newsletter</span>
      <span class="sub-heading">sign up for special offers</span>

      <div class="sub-section" fxLayout="row">
        <div fxFlex="70">
          <input type="text">
        </div>
        <div fxFlex="30" class="btn-sub" fxLayout="row" fxLayoutAlign="center center">
          Sign Up Now
        </div>
      </div>

    </div>
  </div>

  <div class="section-three" fxLayout="row">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between center" class="links-section">
      <span (click)="scrollToTop()">Home</span>
      <span (click)="navigate('/book-room')">Book Table</span>
      <span (click)="navigate('/resturant-booking')">Book Room </span>
      <span>Contact Us</span>
    </div>
    <div fxFlex="50" class="logo" fxLayout="row" fxLayoutAlign="end center">
      <span>Le Tandem</span>
    </div>
  </div>
</div>
