<div class="book-room-form-container" fxLayout="column">
  <app-menu></app-menu>
  <div class="form-section" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div class="form">


      <div (click)="navigate('/home')">
        <i class="fa-solid fa-chevron-left me-2"></i>
        <span>Back</span>
      </div>

      <div class="heading-1">Room Booking</div>
      <div class="heading-2" fxLayout="row" fxLayoutAlign="center end">
        <span>Your Details</span>
      </div>

      <div class="hr"></div>

      <div class="book-room-flex">
        <div class="form-container" fxLayout="column" fxLayoutAlign="space-between start">
          <form>
            <input type="text" id="first-name" placeholder="First name" name="customer_name" [(ngModel)]="formData.first_name">
            <input type="text" id="last-name" placeholder="Last name" name="customer_name"  [(ngModel)]="formData.last_name">


              <input type="tel" id="phone-number" placeholder="Phone number"  name="phone"  [(ngModel)]="formData.phone">
            <input type="email" id="email" placeholder="Email"  name="customer_email"  [(ngModel)]="formData.customer_email">
            <input type="text" id="special-requests" placeholder="Add special requests (optional)"   name="requests"  [(ngModel)]="formData.requests">
            <button class="submit" (click)="getCustomerInfo()">Confirm reservation</button>
          </form>
        </div>

        <div class="info-container" fxLayout="column" fxLayoutAlign="space-between start">
          <div class="heading">Le Tandem Room</div>
          <span>{{getDate(data.checkIn) | date: 'EEEE dd, MMMM yyyy'}} - {{getDate(data.checkOut) | date: 'EEEE dd, MMMM yyyy'}}</span>
          <span>2pm (Check in time)</span>
          <span>{{data.numberOfPeople}} people</span>
          <span>108 Nii Nortei Nyanchi Street</span>

          <div class="hr"></div>

          <div class="heading">What to know</div>
          <p class="important">Important check in information</p>
          <p>We may contact you about this reservation, so please ensure your email and phone number are up to date…</p>
          <p>Thank you for choosing Le Tandem.</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div id="loading" *ngIf="loading">
  <img src="assets/images/loading.gif" alt="Loading...">
</div>
