<div class="select-seating-type-container" fxLayout="column">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="40" viewBox="0,0,256,256">
      <g fill="#C4C4C4" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <g transform="scale(5.12,5.12)">
          <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
        </g>
      </g>
    </svg>
  </div>

  <div class="form-section" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div class="select">
      <div class="heading-1">Reservation at Le Tandem</div>
      <div class="heading-2">Select A Seating Type</div>
      <div class="heading-3">The following options are available for a reservation on June 20th, 7:00 pm.</div>

      <div class="select-container" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="options">
          <div>Le Tandem Restaurant</div>
          <span>Indoors</span>
        </div>
        <button>Selected</button>
      </div>
      <hr>
      <div class="select-container" fxLayout="row" fxLayoutAlign="space-between center" >
        <div class="options">
          <div>Le Tandem Pool</div>
          <span>Outside</span>
        </div>
        <button>Selected</button>
      </div>
      <hr>

    </div>
  </div>

</div>
