<div class="book-room-form-container" fxLayout="column">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="40" viewBox="0,0,256,256">
      <g fill="#C4C4C4" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <g transform="scale(5.12,5.12)">
          <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
        </g>
      </g>
    </svg>
  </div>

  <div class="form-section" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <div class="form">
      <div class="heading-1">Room Booking</div>
      <div class="heading-2"><span>Your Details</span></div>
      <div class="hr"></div>

      <div class="heading-3">Due to limited availability, we can hold this booking for you for 5:00 minutes</div>
      <div class="book-room-flex">
        <div class="form-container" fxLayout="column" fxLayoutAlign="space-between start">
          <form>
            <input type="text" id="first-name" placeholder="First name">
            <input type="text" id="last-name" placeholder="Last name">
            <div class="phone-number">
              <select>
                <option value="" disabled selected>GH</option>
                <option value="1">GH1</option>
                <option value="2">GH2</option>
                <option value="3">GH3</option>
              </select>
              <input type="tel" id="phone-number" placeholder="Phone number">
            </div>
            <input type="email" id="email" placeholder="Email">
            <select>
              <option value="" disabled selected>Select occasion (optional)</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <input type="text" id="special-requests" placeholder="Add special requests (optional)">
            <input type="submit" value="Confirm reservation">
          </form>
        </div>

        <div class="info-container" fxLayout="column" fxLayoutAlign="space-between start">
          <div class="heading">Le Tandem Room</div>
          <span>Monday, 24 June - Tuesday, 25 June</span>
          <span>11am (Check in time)</span>
          <span>3 people</span>
          <span>108 Nii Nortei Nyanchi Street</span><br>

          <div class="hr"></div>
          
          <div class="heading">What to know</div>
          <p class="important">Important dining information</p>
          <p>We have a 20 minute before check in grace period to cancel booking. After that a cancellation fee will be
            charged.</p>
          <p>We may contact you about this reservation, so please ensure your email and phone number are up to date…</p>
          <p>Thank you for choosing Le Tandem.</p>
        </div>
      </div>
    </div>
  </div>

</div>
