<div class="no-mobile-flex">

  <span (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256">
      <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
        font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <g transform="scale(5.12,5.12)">
          <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
        </g>
      </g>
    </svg>
  </span>

</div>

<div class="show-flex">
  <span (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="35" viewBox="0,0,256,256">
    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
      stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
      font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
      <g transform="scale(5.12,5.12)">
        <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
      </g>
    </g>
  </svg>
  </span>

</div>


<div class="full-screen-menu" *ngIf="isMenuOpen" fxLayout="column" >
  <div fxLayout="row" fxLayoutAlign="space-between center" class="home-nav">
    <i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;" (click)="toggleMenu()"></i>

    <div>
      <span class="caption">Le Tandem</span>
    </div>

    <div class="no-mobile-flex">
      <button class="btn-custom"  (click)="navigate('/resturant-booking')">Reserve</button>
    </div>
  </div>


  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex>
    <span class="links"  (click)="navigate('/home')">Home</span>
    <span class="links"  (click)="navigate('/resturant-booking')">Book Table</span>
    <span class="links" (click)="navigate('/hotel-booking')">Book Room</span>
    <span class="links"><a href="tel:233302762959">Contact Us</a></span>
  </div>

</div>
