.room-card-container {

  .section-x {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 5%;

    .text {
      font-family: "Altone";
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      text-align: left;
      color: #000000;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  .section-one {

    padding-left: 10%;
    padding-right: 5%;


    .heading {
      font-family: "Georgia";
      font-size: 40px;
      font-weight: normal;
      font-style: normal;
      color: #c13035;

      @media screen and (max-width: 600px) {
        font-size: 28px;
      }
    }

    .text {
      font-family: "Altone";
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      text-align: left;
      color: #000000;
    }

    .price {
      font-family: "Altone";
      font-size: 57px;
      font-weight: normal;
      font-style: normal;
      color: #c13035;

      @media screen and (max-width: 600px) {
        font-size: 30px;
      }
    }

    .rate {
      font-family: "Altone";
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      color: #c13035;

      @media screen and (max-width: 600px) {
        font-size: 15px;
      }
    }

  }

  .section-two {
    min-height: 300px;
    background-color: #FAFAF9;
    /* Set your background color here */
    background-image: url('/assets/images/bg-five.png');
    /* Set your background image path here */
    background-size: cover;
    /* Ensure the image covers the entire element */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    padding: 5%;

    .text {
      font-family: "Altone";
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      color: #000000;

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }



    .tile {
      padding-left: 15px;
      padding-right: 15px;

      img{
        @media screen and (max-width: 600px) {
          width: 50px;
        }
      }
    }

    .border-right {
      margin-top: 10px;
      border-left: 1px dashed #000000;
      height: 75px;
      margin-bottom: 10px;
    }
  }
}



.gallery {
  background-color: #FAFAF9;
  padding: 15px 20px;


  .img{
    width: 450px;
  }

  .tile {
    padding: 5px !important;
  }
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
