<div fxLayout="column" class="room-card-container">
  <div class="section-one" fxLayout="row">
    <div fxFlex="70" fxLayout="column">
      <span class="heading">Le Tandem Room Name
      </span>

      <span class="text">Each room features elegant décor, premium amenities, and plush bedding to ensure a restful and rejuvenating stay. Enjoy the warm, personalised service of our establishment and make yourself at home in the heart of Accra.
      </span>
    </div>
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <span class="price">$150</span>
      <span class="rate">Per Night</span>
    </div>
  </div>

  <div class="section-two" fxLayout="row" fxLayoutAlign="space-around center">



    <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" *ngFor="let facility of amenities; let i = index;" class="tile">

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">


          <img [src]="facility.icon">
          <span class="text">{{facility.title}}</span>


      </div>
      <div class="border-right" *ngIf="i !== (amenities.length - 1)"></div>

    </div>


  </div>
</div>
