/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Altone';
  src: url("assets/fonts/AltoneTrial-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Georgia';
  src: url("assets/fonts/Georgia.otf") format("opentype");
}

@font-face {
  font-family: 'PinyonScript';
  src: url("assets/fonts/PinyonScript-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SaturdayChampagne';
  src: url("assets/fonts/SaturdayChampagneDemo-Regular.otf") format("opentype");

}


body,
html {
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn-custom {
  color: rgb(255, 255, 255);
  font-family: Georgia;
  border: none;
  background-color: rgba(189, 35, 40, 0.97);
  padding: 10px 50px;
  font-size: 20px;
}

.btn-custom {
  color: rgb(255, 255, 255);
  font-family: Georgia;
  border: none;
  background-color: rgba(189, 35, 40, 0.97);
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
}

.space-bottom {
  padding-bottom: 5%;
}

/* Importing Bootstrap SCSS file. */

input:focus {
  outline: none !important;
}

select:focus {
  outline: none !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}


.me-2 {
  margin-right: 2rem;
}


a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.no-mobile-flex{
  display: flex;
  @media screen and (max-width: 600px) {
    display: none  !important;
  }
}


.show-flex{
  display: none !important;
  @media screen and (max-width: 600px) {
    display: flex  !important;
  }
}


.bg-white{
  background-color: #ffffff;
}


.remove-border{
  @media screen and (max-width: 600px) {
    border-right: none  !important;
  }
}
