<audio #audio autoplay>
  <source src="assets/audio/audio.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<div class="home-container">
  <!-- Background video for mobile -->
  <video class="home-video"   loop muted autoplay playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true" >
    <source src="assets/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="home-nav">
    <app-menu></app-menu>

    <div>
      <span class="caption">Le Tandem</span>
    </div>

    <div class="no-mobile-flex">
      <button class="btn-custom" (click)="navigate('/resturant-booking')">Reserve</button>
    </div>
  </div>
</div>
<div fxLayout="row"  fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="none" class="home-actions-container">
  <div class="section-one" fxFlex="33"   fxFlex.xs="100"  fxLayout="row" fxLayoutAlign="center center"  (click)="navigate('/resturant-booking')">
    Reserve a Table
  </div>
  <div class="section-two" fxFlex="34"  fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center center"   (click)="navigate('/book-room')">
    Reserve a Room
  </div>
  <div class="section-one" fxFlex="33" fxFlex.xs="100"  xfLayout="row" fxLayoutAlign="center center">
    View Menu
  </div>
</div>

<div class="welcome-section no-mobile-flex">
  <img src="assets/bg-telve.png" alt="Image" class="image">
  <div class="card">
    <span class="text-one">Welcome to Le Tandem</span>

    <div fxLayout="column" fxLayoutAlign="center center" class="section-one">
      <span class="text-two">Nestled in
      </span>


      <span class="text-two">
        the heart of Accra</span>

      <img src="assets/images/separator.svg">


    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <span class="text-three">
        The name ‘Le Tandem’ holds a special meaning that reflects the essence of our family-owned business. In cycling,
        a tandem is a bicycle designed for two riders, both contributing to the journey, each reliant on the other for
        balance and momentum.
      </span>

      <span class="text-three">
        We have welcomed guests into this intimate setting, treating everyone like a member of our extended family.
      </span>
    </div>


    <div>
      <p class="text-four">Le tandem </p>
    </div>
  </div>
</div>

<div class="welcome-mboile show-flex" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <span class="heading">Welcome To Le Tandem</span>
  <span class="caption">Nestled in the heart of Accra
  </span>

  <img src="assets/images/separator.svg" width="150" class="space-bottom">


  <img src="assets/bg-ten.png" class="img">


  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <span class="text-three">
      The name ‘Le Tandem’ holds a special meaning that reflects the essence of our family-owned business. In cycling,
      a tandem is a bicycle designed for two riders, both contributing to the journey, each reliant on the other for
      balance and momentum.
    </span>

    <span class="text-three">
      We have welcomed guests into this intimate setting, treating everyone like a member of our extended family.
    </span>
  </div>


  <div>
    <p class="text-four">Le tandem </p>
  </div>

</div>

<div class="book-resturant-section" fxLayout="column" fxLayoutAlign="center center">
  <span class="heading">Restaurant
  </span>
  <span class="caption">Exquisite blend of French culinary
  </span>
  <img src="assets/images/separator.svg">

  <div class="book-container" fxLayout="column">
    <div class="table-book">
      <p class="text-one">Reserve Table
      </p>

      <div class="form">
        <div class="input-container">
          <i class="fa-regular fa-calendar icon-left"></i>
          <input type="text" placeholder="Choose Date" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker"
            (click)="d.toggle()">
          <i class="fa-solid fa-angle-down icon-right"></i>
        </div>


        <div class="select-container">
          <i class="fa-regular fa-clock icon-left"></i>

          <select>
            <option value="" disabled selected>Select Time</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <i class="fa-solid fa-angle-down icon-right"></i>
        </div>


        <div class="select-container">
          <i class="fa-regular fa-user icon-left"></i>

          <select>
            <option value="" disabled selected>No of People </option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <i class="fa-solid fa-angle-down icon-right"></i>
        </div>

        <button class="btn-custom custom-btn" (click)="navigate('/resturant-booking')">Find Table </button>

      </div>
    </div>
  </div>

</div>

<div class="gallery">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    @for (slide of slides; track slide.img) {
    <div ngxSlickItem class="slide tile">
      <img src="{{slide.img}}" alt="" width="100%" class="img">
    </div>
    }
  </ngx-slick-carousel>
</div>

<!-- <div class="slideshow-container">
  <img [src]="slides[currentIndexs].img" alt="Slide image" class="slide-image" />
</div> -->

<div class="menu-section">

  <div fxLayout="column" fxLayoutAlign="center center">
    <span class="heading">Menu</span>
    <span class="caption">Explore Our Elegant Menu</span>
    <img src="assets/images/separator-red.svg">
  </div>


  <div class="menu-view" fxLayout="row" fxLayout.xs="column">
    <div class="indoor-section" fxFlex="45" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="end center" >
      <button class="btn-custom" (click)="openPdf()">Indoor Seating Menu</button>
    </div>
    <div fxFlex="5" class="no-mobile-flex"></div>
    <div class="outdoor-section" fxFlex="45" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="end center" >
      <button class="btn-custom">Pool Area Menu</button>
    </div>
  </div>



</div>


<div class="book-hotel-section" fxLayout="column" fxLayoutAlign="center center">
  <span class="heading">boutique-style hospitality
  </span>
  <span class="caption">Enjoy A Luxury Experience
  </span>
  <img src="assets/images/separator.svg" class="space-bottom">

  <div class="form-container" fxlayout="row" fxLayout.xs="column" >
    <div fxFlex="23" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="form-section ">
      <div>Check In</div>
      <div class="input-container">
        <input type="text" placeholder="Date" [(ngModel)]="checkinDate" ngbDatepicker #checkinDatePicker="ngbDatepicker"
          (click)="checkinDatePicker.toggle()">
        <i class="fa-solid fa-angle-down icon-right"></i>
      </div>

    </div>
    <div fxFlex="23" fxFlex.xs="100" fxLayout="column"  fxLayoutAlign="center center" class="form-section">
      <div>Check Out</div>
      <div class="input-container">
        <input type="text" placeholder="Date" [(ngModel)]="checkoutDate" ngbDatepicker #checkoutDatePicker="ngbDatepicker"
          (click)="checkoutDatePicker.toggle()">
        <i class="fa-solid fa-angle-down icon-right"></i>
      </div>


    </div>
    <div fxFlex="27"  fxFlex.xs="100" fxLayout="column"  fxLayoutAlign="center center"  class="form-section-two">
      <div>Guests</div>
      <div class="select-container">
        <select [(ngModel)]="numberOfPeople" name="numberOfPeople">
          <option value="" disabled selected>No.</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        <i class="fa-solid fa-angle-down icon-right"></i>
      </div>
    </div>
    <div fxFlex="27" fxFlex.xs="100" class="btn-section" fxLayout="column" fxLayoutAlign="center center" (click)="saveAvail()">
      <div>Check</div>
      <div>Availabilty</div>
    </div>
  </div>
</div>


<div class="hotel-galllery no-mobile-flex" fxLayout="column" fxLayoutGap="5%">

  <div class="carousel">
    <div class="carousel-image left">
      <button (click)="prevImage()">&#10094;</button>
      <img [src]="images[prevIndex]" alt="Previous Image">
    </div>
    <div class="carousel-image main">
      <img [src]="images[currentIndex]" alt="Main Image">
    </div>
    <div class="carousel-image right">
      <img [src]="images[nextIndex]" alt="Next Image">
      <button (click)="nextImage()">&#10095;</button>
    </div>
  </div>


  <div fxLayout="row" fxLayoutAlign="center center">
    <button class="btn-custom" (click)="navigate('/book-room')">Discover More</button>
  </div>


</div>


<div class="hotel-galllery show-flex" fxLayout="column" fxLayoutGap="10px">
  <img *ngFor="let image of images" [src]="image">
</div>


<app-footer></app-footer>
