<div class="book-room-form-container" fxLayout="column">


  <div>
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="35" height="40" viewBox="0,0,256,256">
      <g fill="#C4C4C4" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter"
        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
        <g transform="scale(5.12,5.12)">
          <path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path>
        </g>
      </g>
    </svg>
  </div>

  <div class="form-section" fxLayoutAlign="center center" fxFlex>


    <div class="form" fxLayout="column">

      <div (click)="back()">
        <i class="fa-solid fa-chevron-left me-2"></i>
        <span>Back</span>
      </div>
      <div class="heading-1">Reservation at Le Tandem</div>
      <div class="heading-2" fxLayout="row" fxLayoutAlign="center end">
        <span>1. Find A Table</span>
        <div>2. Your Details</div>
      </div>

      <div class="hr"></div>


      <div class="section-one space-bottom">
        <div class="form-row" fxLayout="row" fxLayout.xs="row wrap">

          <div fxFlex="22" fxFlex.xs="33">
            <div class="select-container">


              <select [(ngModel)]="form.numberOfPeople">
                <option value="" disabled selected>People</option>
                <option *ngFor="let num of numbers" [value]="num">{{num}}</option>
                <!-- <option value="2">Option 2</option>
                <option value="3">Option 3</option> -->
              </select>
              <i class="fa-solid fa-angle-down icon-right"></i>
            </div>
          </div>
          <div fxFlex="21" fxFlex.xs="33">
            <div class="input-container">
              <input type="text" placeholder="Date" [(ngModel)]="form.date" ngbDatepicker
                #checkoutDatePicker="ngbDatepicker" (click)="checkoutDatePicker.toggle()">
              <i class="fa-solid fa-angle-down icon-right"></i>
            </div>
          </div>
          <div fxFlex="22" fxFlex.xs="34">
            <div class="select-container">


              <select class="remove-border" [(ngModel)]="form.slotId">
                <option value="" disabled selected>Time</option>
                <option *ngFor="let time of times" [value]="time.id">{{time.slot_time}}</option>
              </select>
              <i class="fa-solid fa-angle-down icon-right"></i>
            </div>
          </div>
          <div fxFlex="35" fxFlex.xs="100" class="btn-div" fxLayout="row" fxLayoutAlign="center center">
            <span (click)="submit()">Find A Table</span>
          </div>

        </div>
      </div>


      <div class="center-text section-two space-bottom" *ngIf="unAvail">
        <span>Unfortunately we do not have a table available for the selected time. Please check below for other available times</span>
      </div>


      <div class="section-three" fxLayout="column" fxLayoutGap="10px"  *ngIf="unAvail">
        <span class="heading">Other Available Times</span>

        <div class="hr"></div>

        <div class="available-section">
          <!-- <p class="date">Monday 24 June, 2024</p> -->

          <div fxLayout="row wrap">
            <div fxFlex="20" fxFlex.xs="33" *ngFor="let time of times" fxLayout="row" fxLayoutAlign="center center"
              (click)="nextClick()">

              <span class="chip">
                <img src="assets/images/table.svg">
                {{time.slot_time}}
              </span>
            </div>
          </div>
        </div>


      </div>


    </div>

  </div>

</div>
