<div class="book-hotel-section" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="home-nav">
    <app-menu></app-menu>

    <div>
      <span class="caption">Le Tandem</span>
    </div>

    <div class="no-mobile-flex">
      <button class="btn-custom">Reserve</button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="2%">
    <span class="heading">boutique-style hospitality
    </span>
    <span class="caption">Enjoy A Luxury Experience
    </span>
    <img src="assets/images/separator.svg" class="space-bottom">
  </div>
</div>


<div class="form-container" fxlayout="row" fxLayout.xs="column">
  <div fxFlex="23"   fxFlex.xs="100"fxLayout="column" fxLayoutAlign="center center" class="form-section">
    <div>Check In</div>
    <div class="input-container">
      <input type="text" placeholder="Date" [(ngModel)]="formData.checkIn" ngbDatepicker #checkinDatePicker="ngbDatepicker"
        (click)="checkinDatePicker.toggle()">
      <i class="fa-solid fa-angle-down icon-right"></i>
    </div>

  </div>
  <div fxFlex="23"   fxFlex.xs="100" fxLayout="column"  fxLayoutAlign="center center" class="form-section">
    <div>Check Out</div>
    <div class="input-container">
      <input type="text" placeholder="Date" [(ngModel)]="formData.checkOut" ngbDatepicker #checkoutDatePicker="ngbDatepicker"
        (click)="checkoutDatePicker.toggle()">
      <i class="fa-solid fa-angle-down icon-right"></i>
    </div>


  </div>
  <div fxFlex="27"   fxFlex.xs="100" fxLayout="column"  fxLayoutAlign="center center"  class="form-section-two">
    <div>Guests</div>
    <div class="select-container">

      <select name="numberOfPeople" [(ngModel)]="formData.numberOfPeople">
        <option value="" disabled selected>No.</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <i class="fa-solid fa-angle-down icon-right"></i>
    </div>
  </div>
  <div fxFlex="27"  fxFlex.xs="100" class="btn-section" fxLayout="column" fxLayoutAlign="center center" (click)="checkAvail()">
    <div>Check</div>
    <div>Availabilty</div>
  </div>
</div>

<div fxlayout="column" class="rooms-container">

  <div [hidden]="!isData">

    <div *ngFor="let room of rooms">
      <app-room-card [data]="room" ></app-room-card>
    </div>

  </div>

  <div *ngIf="!isData" class="new-sec">
      <p class="text">{{message}}</p>
  </div>



</div>




<app-footer></app-footer>

<div id="loading" *ngIf="loading">
  <img src="assets/images/loading.gif" alt="Loading...">
</div>
